body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    margin: 0;
    height: auto;
}

.main {
    max-width: 864px;
}

.image {
    margin: 0;
    position: absolute;
    bottom: 0;
    margin: 25px 25px 0px 25px;

    img {
        max-width: 100%;
        height: auto;
    }
}